
#project specific
generatedsrc

# gradle
/.gradle/
/build/

#eclipse
/bin/
.classpath
.settings
.project

#IntelliJ
.idea
target

#maven deployment stuff
gradle.properties
secring.gpg

#NPM and NodeJS stuff
node_modules
package-lock.json
